.firstLevelDiv {
  padding-top: 20px;
  padding-bottom: 20px;
}

.secondLevelDiv {
  padding-left: 0px;
}

.searchTitle {
  font-size: large;
  margin-top: 20px;
}

.randomTitle {
  font-size: large;
}

.randomDescription {
  font-size: small;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
