.hometoday {
  background-color: #619b8a;
  font-weight: 700;
  font-size: 5vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.homewhat {
  background-color: #a1c181;
  font-weight: 700;
  font-size: 5vh;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  vertical-align: middle;
}

.homewhatclick {
  height: 100%;
}

.homehow {
  background-color: #fcca46;
  font-weight: 700;
  font-size: 5vh;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.homehowclick {
  height: 100%;
}

.homefooter {
  background-color: #fe7f2d;
  padding: 10px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
