.firstLevelInputArea {
  padding: 20px;
}

.secondLevelInputArea {
  padding-left: 5px;
}

.firstLevelInputAreaHidden {
  display: none;
  padding: 20px;
}

.divDisplay {
  display: block;
}

.divHidden {
  display: none;
}

input {
  padding: 5px;
  margin: 5px;
}

button {
  margin: 10px;
  padding: 5px;
}
