.gridContainer {
  display: grid;
  grid-template-areas:
    "name name empty empty"
    "name name cate cate"
    "link dist loc loc"
    "rate rate rate rate"
    "srate srate srate srate"
    "mrate mrate mrate mrate";
  grid-gap: 0px;
  background-color: #fff;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
}

.name {
  grid-area: name;
  background-color: #fcca46;
  padding: 20px;
  border-radius: 10px 10px 0px 10px / 10px 10px 0px 10px;
}
.empty {
  grid-area: empty;
  height: 20px;
}
.cate {
  grid-area: cate;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fceaba;
}
.rate {
  grid-area: rate;
  margin-left: 20px;
  padding: 10px;
  background-color: #fceaba;
}
.link {
  grid-area: link;
  font-size: 12px;
  margin-left: 20px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  background-color: #fceaba;
}
.loc {
  grid-area: loc;
  font-size: 12px;
  padding: 5px;
  background-color: #fceaba;
}
.dist {
  grid-area: dist;
  font-size: 12px;
  padding: 5px;
  background-color: #fceaba;
}
.srate {
  grid-area: srate;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  font-size: 12px;
}
.mrate {
  grid-area: mrate;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  font-size: 12px;
}

.centerCell {
  text-align: center;
}

table {
  width: 100%;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  border-style: dotted;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
